.screen{
    display: flex;
    height: 100vh;
}

.formPart{
    justify-content: self-start;
}

.photoPart{
    background-color: rgba(175, 175, 175, 1);
}

@media (max-width: 768px) {
  .photoPart {
    display: none;
  }

  .formPart {
    width: 100%;
    margin-left: 20%;
    margin-right: 0cm;
}
}

h1{
    font-family: "Nunito", sans-serif;
    font-size: 42px;
}

p{
    font-family: "Nunito", sans-serif;
    font-size: 18px;
}