.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 600px;
  height: 480px;
  max-width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.mini-calendar{
  max-width: 40%;
  font-family: "Nunito", sans-serif;
  align-items: center;
  justify-content: center;

}

.mini-calendar-header {
  font-family: "Nunito", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  color: black;
}

.mini-calendar-header button{
  width: 30px;
  height: 30px;
  background-color: rgba(115, 9, 78, 1); 
  color: white;
  border: none;
  border-radius: 20px;
}

.mini-calendar-header h2 {
  font-family: "Nunito", sans-serif;
  display: flex;
  font-size: 1.2em;
  margin: 0;
  font-weight: bold;
}

.mini-calendar-grid{
  text-align: center;
  display: grid;
  width: 100%;
  height: 270px;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-top: 10px;
}

.mini-calendar-buttons{
  justify-content: space-evenly;
}

.mini-calendar-buttons button{
  width: 90px;
  background-color: rgba(115, 9, 78, 1); 
  color: white;
  border: none;
  border-radius: 20px;
}

.calendar {
  max-width: 96%;
  font-family: "Nunito", sans-serif;
}

.calendar-header {
  font-family: "Nunito", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  width: 100%;
  height: 100px;
  width: 100%;
}

.calendar-header button{
  width: 90px;
  height: 30px;
  background-color: rgba(115, 9, 78, 1); 
  color: white;
  border: none;
  border-radius: 20px;
}


.calendar-header h2 {
  font-family: "Nunito", sans-serif;
  display: flex;
  font-size: 1.2em;
  margin: 0;
  font-weight: bold;
}

.calendar-grid {
  display: grid;
  height: 350px;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-top: 10px;
}

.calendar-day-label, .calendar-day {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
}

.calendar-day-label {
  font-weight: bold;
  background-color: #f0f0f0;
}

.calendar-day {
  background-color: #e6e6e6;
  border: none;
}

.calendar-day.empty {
  background-color: transparent;
}

.calendar-day.today {
  background-color: rgba(115, 9, 78, 1);
  color: white;
}

.calendar-day.weekend {
  background-color: #c7496c; 
  color: white;
}

.calendar-day.selected {
  background-color: #ffeb3b; 
  color: black;
}

.selectDate{
  display: flex;
  justify-content: end;
  margin-right: 50px;
  margin-top: 20px;

}

.calendarTitle{
    font-family: "Nunito", sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 25px;
}

.divider {
  height: 1px; 
  background-color: #B2B2B2; 
  margin: 20px 0; 
  width: 90%; 
}

.addAvailabilityButton{
    background-color: #9F1239;
    color: white;
    width: 75%;
    height: 50px;
    font-family: "Nunito", sans-serif;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
}

.square-box {
  width: 100%;
  height: 380px;
  border: 2px solid #333;
  border-radius: 8px;
  padding: 10px;
  overflow-y: auto; 
}

.item-list {
  text-align: start;
  list-style-type: none; 
  padding: 0;
  margin: 0;
}

.list-item {
  padding: 8px;
  margin: 5px 0;
  background-color: #f0f0f0;
  border-radius: 4px;
}

@media (max-width: 700px) {
  .row:nth-of-type(1) {
    flex-direction: column;
    text-align: center; /* Empilha os elementos */
  }

  .col-3,
  .calendar-container {
     max-width: 100%;
     width: 100%; /* Largura total */
  }
  .calendar-container {
    margin-top: 20px; 
    /* Espaçamento extra entre os elementos */
  }
  .square-box{
    height: 230px;
    text-align: center;
  }

  .calendar-header,
  .calendar-grid{
    max-width: 160%;
    width: 160%;
  }

  .popup-content{
    width: 400px;
    height: 460px;

  }

  .mini-calendar-header,
  .mini-calendar-grid{
    width: 300px;
    margin-left: 25px;
  }

}