/* styles.css */

.createButton{
    background-color: rgba(136, 19, 55, 1);
    color: white;
    padding: 10px 16px;
    border:0;
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: 800;
    cursor: pointer; 
    margin-bottom: 30px;
} 

.custom-card {
    width: 230px; /* Fixed width */
    height: 250px; /* Fixed height */
    background-color: rgba(159, 18, 57, 1); /* Background color */
    color: white; /* Text color */
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    overflow: hidden;
    position: relative;
}

.card-img {
    width: 100%;
    height: 100px; 
    object-fit: cover; 
}

.card-body {
    padding: 10px;
    position: relative;
    flex-grow: 1;
    font-family: 'Nunito';
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card-title {
    text-align: center;
    font-size: 1.4rem;  
    font-weight: bold;
    line-height: 1;
    margin: 0;
}

.card-text {
    font-size: 0.8rem; 
    margin-top:8px;
    margin-bottom: 2px;
    line-height: 1;
}

.arrow-button {
    color: #FFF;
    padding: 0;
    border: none;
    background: none;
    margin-left: auto;
}

.arrow-button:hover {
    color: #6c757d; 
}

/* Estilo do ícone quando o botão é clicado */
.arrow-button:active {
    color: #495057; 
}

.user-icon {
    color: white;
    padding: 0;
    border: none;
    background: none;
    margin-right: auto;
}

.manager-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; 
}

.members-table {
    max-width: 50%;
    min-width: 300px; 
    margin-left: 0; 
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.members-header {
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
    font-weight: bold;
    color: rgba(100, 116, 139, 1);
    font-size: small;
    font-family: 'Nunito';
}

.member-card {
    display: grid;
    grid-template-columns: 2fr 2fr 0.5fr;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    font-family: 'Nunito';
    gap: 10px;
}

.member-info {
    display: flex;
    align-items: center;
}

.member-icon {
    color: rgba(115, 7, 66, 1);
    margin-right: 10px;
}

.member-name {
    font-weight: bold;
    font-size:medium;
    font-family: Nunito;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.member-email {
    text-align: left;
    color: rgba(100, 116, 139, 1);
    font-size: small;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.edit-button {
    background-color:rgba(100, 116, 139, 1);
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: 'Nunito';
    color: white;
    cursor: pointer;
    
}

.remove-button {
    color: rgba(52, 64, 84, 1);
    border: none;
    background: none;
    cursor: pointer;
}

.remove-button:hover {
    color: rgba(52, 64, 84, 1);
}

.custom-header {
    display: flex;
    align-items: center;
    gap: 21rem; 
}

.readd-members-card {
    max-width: 50%;
    min-width: 300px; 
    margin-left: 0; 
    margin-right: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(240, 240, 240);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-top: 20px;
}

.readd-card-header {
    font-size: medium;
    font-weight: bold;
    font-family: Nunito;
    color: rgba(52, 64, 84, 1);
    margin-bottom: 10px;
}

.readd-card-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.readd-member-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
}

.readd-member-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.readd-member-icon {
    color: rgba(159, 18, 57, 1);
}

.readd-member-name {
    font-weight: bold;
    font-size:medium;
    font-family: Nunito;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.readd-member-email {
    text-align: left;
    color: rgba(100, 116, 139, 1);
    font-size: small;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.readd-button {
    color:rgba(54, 66, 84, 1);
    cursor: pointer;
    font-weight: bold;
    border: none;
    text-decoration: none;
}

.readd-button:hover {
    opacity: 0.8;
}


.upcoming-events {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.event-card {
    display: flex;
    align-items: center;
    padding: 4px;
    border: 2px solid #ccc;
    border-radius: 8px;
    border-color: rgba(136, 19, 55, 1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    margin-bottom: 15px;
}

.event-date {
    text-align: center;
    color: rgba(159, 18, 57, 1);
    padding: 10px;
    border-radius: 8px;
    width: 60px;
    margin-right: 20px;
    margin-left: 20px;
}

.event-divider {
    width: 2px;
    height: 60px;
    background-color: #ccc;
    margin: 0 15px;
  }

.event-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 1.2rem;
    font-weight: normal;
    margin-left: 25px;
    color: rgba(100, 116, 139, 1);
}

.event-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(100, 116, 139, 1);
}

.event-details-left, 
.event-details-right {
    display: flex;
    flex-direction: column; 
    gap: 7px;
    width: 150%; 
}

.event-bandName, 
.event-location, 
.event-time {
    color: rgba(100, 116, 139, 1) !important; /* Force gray color */
    font-size: medium;
}

.event-location {
    font-size: 1.2rem;
    color: rgba(100, 116, 139, 1) !important; /* Ensure event-location is gray */
}

.event-time {
    color: rgba(100, 116, 139, 1) !important; /* Ensure event-time is gray */
}


@media (max-width: 600px) {
    .members-header,
    .member-card {
        grid-template-columns: 1fr 1fr;
    }

    .remove-button {
        display: none;
    }

    .member-email {
        text-align: center;
    }
    .band-popup-modal .modal-dialog {
        max-width: 90%;
    }
    .modal-responsive {
        max-width: 700px;
    }
    .title-responsive {
        font-size: 2rem;
    }
    .instructions-responsive {
        font-size: 1rem;
    }
    .btn-responsive {
        font-size: 1rem;
    }
    .edit-button{
        font-size: 12px;
        margin: 0;
    }


}

.table-responsive {
    overflow-x: auto;
  }
/* Botões de Adicionar e Salvar */
.add-member-btn {
    background-color: #333;
    color: #fff;
    border: 1px solid #333;
    border-radius: 10px;
    padding:px 20px;
    font-weight: bold;

}

/* Efeito de hover para os botões */
.add-member-btn:hover {
    background-color: #555; /* Cor de fundo grey */
    border-color: #555;
}

.btn-cancel-band {
    background-color: #831843;
    color: white; 
    border: none;
}

.btn-cancel-band:hover {
    background-color: #a61b4d; 
}

.btn-save-band {
    background-color: #101828;
    color: white;
    border: none;
}

.btn-save-band:hover {
    background-color: #333; 
}

.btn-save-band:active {
    background-color: #555; 
}
.modal-responsive {
    width: 100%;
    max-width: 500px;
}

.title-responsive {
    font-size: 1.5rem;
}

.instructions-responsive {
    font-size: 1rem;
}

.label-responsive {
    font-size: 1rem;
}

.input-responsive {
    font-size: 0.85rem;
    padding: 5px;
}

.btn-responsive {
    font-size: 0.8rem;
    padding: 6px 12px;
}

